<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
        <!--바로 위 sec 태그를 사용하기 위한 XML 네임스페이스를 지정, sec 사용 위해선 build에 의존 라이브러리 추가해야함 -->
<body>
<div align="right" th:fragment="header">
    <a href="/members/register" class="text-decoration-none">회원가입</a> |

    <!--아래 태그 내부에서 sec:authorize="isAuthenticated()"를 지정하면 현재 페이지에 접근한 사용자가 인증에 성공한 사용자(로그인햇는지)인지를 체크 -->
    <span sec:authorize="isAuthenticated()">
                <!-- sec:authorize="hasRole('USER')"를 지정해서 USER Role을 가진 사용자에게만 마이페이지를 표시되도록 함. -->
                <span sec:authorize="hasRole('USER')">
                    <a href="/members/my-page" class="text-decoration-none">마이페이지</a> |
                </span>
                <!-- 위에서 로그인햇스니 [로그인] 메뉴 대신에 아래와 같이 [로그아웃] 메뉴를 표시 -->
                <a href="/logout" class="text-decoration-none">로그아웃</a>
                <!--로그아웃 메뉴 옆엔 th:text="${#authentication.name}"를 통해 로그인 사용자의 username을 표시. 이곳에는 우리가 로그인할 때 사용한 username이 표시 -->
                <span th:text="${#authentication.name}">홍길동</span>님
            </span>
    <!-- sec:authorize="!isAuthenticated()"를 통해 로그인한 사용자가 아니라면 [로그인] 버튼이 표시 -->
    <span sec:authorize="!isAuthenticated()">
                <a href="/auths/login-form" class="text-decoration-none">로그인</a>
            </span>
</div>
</body>
</html>